*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.header{
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    padding: 35px 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family: cursive;
    font-size: 40px;
    color: #ffffff;
    font-weight: 600;
    transition: 0.5s;
}
.logo:hover{
    color: #8ae231;
    text-shadow: 0 0 25px #8ae231,
    0 0 50px #8ae231;
    transform: scale(1.5);
}
span.name{
    font-family: initial;
}
span{
    font-family:cursive;
    color: #99ff33;
}
.navbar a{
    font-size: 15px;
    color: white;
    font-weight: 900;
    margin: 0 40px;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}
.navbar a:hover{
    color: #8ae231;
    border-bottom: 2px solid #8ae231;
}
.contact{
    color: #000000;
    font-weight: 700;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.5s;
}
.contact:hover{
    color: #ffffff;
    background-color: #000000;
    box-shadow: 0 0 25px #8ae231,
                0 0 50px #8ae231;
}
section.home{
    width:100%;
    min-height: 100vh;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
h3{
    font-size: 40px;
}
h1{
    font-size: 60px;
    line-height: 1.1;
}
p{
    font-size: 17px;
    margin: 25px 0 30px;
}
.image{
    border-radius: 50%;
    width: 500px;
    box-shadow: 0 0 25px #8ae231,
    0 0 50px #8ae231;
}
button{
    font-style: oblique;
    display: flex;
    padding: 15px 35px;
    background-color: #ffffff;
    color: black;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 700;
    transition: 0.5s;
    gap: 2em;
    width: 150px;
}
button:hover{
    color: #ffffff;
    background-color: black;
    box-shadow: 0 0 10px #8ae231,
    0 0 40px #8ae231;
}
.about{
    width: 100%;
    min-height: 100vh;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12% 8%;
    gap:10em;
}
.about:target ~ .about-header {
    border-bottom: 2px solid #8ae231;
}
.container{
    background-color: #000000;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 0 50px #99ff33,
    0 0 90px #001100;
}
.about-content{
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
    font-style: oblique;
}
.about-content h2.ab2 {
    font-size: 50px;
}
.about-content p{
    font-size: 20px;
}
html {
    scroll-behavior: smooth;
}
.contact-container{
    width: 100%;
    height: 100vh;
    background-color: #000000;
}
.maintext{
    text-align: center;
    font-size: 36px;
    padding-top: 200px;
    margin-bottom: 50px;
    color: #ffffff;
}
.contact-form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.contact-form input{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.submit{
    background-color: #ffffff;
    color: #000000;
}
.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 1.1em;
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 14px;
    margin: 25px 0;
    box-shadow: 0 0 10px #99ff33,
                0 0 90px #001100;
}
div.social{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
div.social a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #ffffff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 0 10px #99ff33,
                0 0 90px #001100;
    margin: 0 20px;
}
.project{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px #99ff33,
                0 0 90px #001100;
    padding: 50px;
    margin: 100px 100px;
}
.card h3{
    font-size: 25px;
    margin-bottom: 35px;
}
.card p{
    font-size: 15px;
    margin-bottom: 35px;
}
.card a{
    display: inline-block;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 0 10px #99ff33,
                0 0 90px #001100;
    color: #000000;
    background-color: #ffffff;
    font-style: italic;
    font-size: 13px;
}
.card a:hover{
    background-color: black;
    color: #ffffff;
    box-shadow: 0 0 10px #99ff33,
                0 0 90px #001100;
}